.page-spinner {
    background-color: rgba($background-color, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        border: solid 5px $primary-color;
        border-left-color: transparent;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        animation: spin ease-in-out 750ms infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}