.avatar {
    background-color: $panel-bg-color;
    border: solid 2px $panel-bg-color;
    display: inline-block;

    &,
    img {
        border-radius: 50%;
    }

    img {
        display: block;
    }
}