/* Spacing & Font sizes */
$base-spacing-unit: 16px;

/* Colours */
$primary-color: #fd7e47;
$secondary-color: #2d3142;
$hover-color: $primary-color;
$background-color: #FFFFFF;
$error-color: #E03E52;
$panel-bg-color: #EEEEEE;
$font-color: #484848;

/* Breakpoints */
$bp-tablet: 768px;